@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');




body {
    background-color: hsl(212, 45%, 89%);

    display: grid;
    justify-content: center;
    align-content: center;

   
}

main {
    background-color: white;
    height: 495px;
    width: 320px;
    border-radius: 10px;
    margin-block: 2rem;
    padding: 1rem;

    text-align: center;
}

.imaage {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%)
}



@media only screen and (max-width: 768px) {

    body {
        background-color: hsl(212, 45%, 89%);
        padding: 2rem;

        display: grid;
        justify-content: center;
        align-content: center;
    }

    main {
        background-color: white;
        height: 495px;
        width: 320px;
        border-radius: 10px;
        margin-block: 2rem;
    }

    .imaage {
        width: 100%;
        border-radius: 10px;
    }

    h1 {
        font-family: 'Outfit', sans-serif;
        font-size: 27px;
        font-weight: 700;
        color: hsl(218, 44%, 22%);
    }

    p {
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        color: hsl(220, 15%, 55%)
    }
}